<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemMasterServlet</servlet-name>
        <servlet-class>controller.ItemMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptionServlet</servlet-name>
        <servlet-class>controller.ReceptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptionDetailServlet</servlet-name>
        <servlet-class>controller.ReceptionDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationServlet</servlet-name>
        <servlet-class>controller.LocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingLocationServlet</servlet-name>
        <servlet-class>controller.SettingLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableReceptionDetailServlet</servlet-name>
        <servlet-class>controller.TableReceptionDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableOrderDetailServlet</servlet-name>
        <servlet-class>controller.TableOrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemMasterServlet</servlet-name>
        <url-pattern>/ItemMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionServlet</servlet-name>
        <url-pattern>/ReceptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionDetailServlet</servlet-name>
        <url-pattern>/ReceptionDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationServlet</servlet-name>
        <url-pattern>/LocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingLocationServlet</servlet-name>
        <url-pattern>/SettingLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableReceptionDetailServlet</servlet-name>
        <url-pattern>/TableReceptionDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/OrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableOrderDetailServlet</servlet-name>
        <url-pattern>/TableOrderDetailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
